<footer class="section-sm pb-0 border-top border-default">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 mb-4">
        <a class="mb-4 d-block" href="{{ site.BaseURL | relLangURL }}"><img class="img-fluid" width="{{ site.Params.logo_width }}" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
        <p>{{ site.Params.footer_content }}
       <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120" height="20" role="img" aria-label="Dfinity ∞: deployed">
        <a xlink:href="https://kaxwz-7qaaa-aaaad-qaaya-cai.raw.ic0.app/"
          target="_blank">
        <title>Dfinity ∞: deployed</title>
        <linearGradient id="s" x2="0" y2="100%">
          <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
          <stop offset="1" stop-opacity=".1"/>
        </linearGradient>
        <clipPath id="r">
          <rect width="120" height="20" rx="3" fill="#fff"/>
        </clipPath>
        <g clip-path="url(#r)">
          <rect width="61" height="20" fill="#555"/>
          <rect x="61" width="59" height="20" fill="#007ec6"/>
          <rect width="120" height="20" fill="url(#s)"/></g>
          <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
            <text aria-hidden="true" x="315" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="510">
              Dfinity ∞</text>
              <text x="315" y="140" transform="scale(.1)" fill="#fff" textLength="510">
                Dfinity ∞</text><text aria-hidden="true" x="895" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="490">deployed</text>
                <text x="895" y="140" transform="scale(.1)" fill="#fff" textLength="490">
                  deployed</text>
            </g>
           </a>
            </svg>
          </p>
      </div>
      <div class="col-lg-2 col-md-3 col-6 mb-4">
        <h6 class="mb-4">{{i18n "quick_links"}}</h6>
        <ul class="list-unstyled footer-list">
          {{ range site.Menus.footer }}
          <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 col-6 mb-4">
        <h6 class="mb-4">{{i18n "social"}}</h6>
        <ul class="list-unstyled footer-list">
          {{ range site.Params.flinks }}
          <li><a class="text-capitalize" href="{{ .link | safeURL }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ if site.Params.subscription.enable }}
      <div class="col-md-3 mb-4">
        <h6 class="mb-4">{{i18n "subscribe_newsletter"}}</h6>
        {{ with site.Params.subscription }}
        <form class="subscription" action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form"
          target="_blank">
          <div class="position-relative">
            <i class="fas fa-envelope email-icon"></i>
            <input type="email" class="form-control" placeholder="{{ i18n `email`}}">
          </div>
          <button class="btn btn-primary btn-block rounded" type="submit"
            name="subscribe">{{ i18n "subscribe"}}</button>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
          </div>
        </form>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <!-- <div class="scroll-top">
      <a href="javascript:void(0);" id="scrollTop"><i class="fas fa-angle-up"></i></a>
    </div> -->
    <!-- <div class="text-center">
      <p class="content">{{ site.Params.copyright | markdownify }}</p>
    </div> -->
  </div>
</footer>